body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
}

/* Container */


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Landing */

.landing {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/bg-redup.jpg');
    background-position: center;
    background-size: cover;
    transition-duration: 1s;
}


.landing-caption {
    text-align: center;
    font-size: 4rem;
    font-family: 'Beau Rivage', cursive;
    color: white;
}

.landing-name {
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

.landing-button {
    margin-top: 15rem;
    background-color: rgb(230, 69, 69);
    padding: 12px 24px;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

/* End of Landing */

/* Main */

.main {
    background-image: url('img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* End of Main */


.page-one {
    height: 25rem;
}

.hide {
    transform: translateY(-100);
    opacity: 0;
}

/* audio */
.audio {
    position: absolute;
    z-index: 999999;
    top: 95%;
}

/* End of Audio */