* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}

/* utility */
.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-beau {
    font-family: 'Beau Rivage', cursive;
}

/* .overflowY-hidden {
    overflow-y: hidden;
} */


.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-extra {
    font-size: x-large;
    font-weight: bold;
}


/* Landing */

.landing {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/bg-redup.jpg');
    background-position: center;
    background-size: cover;
    transition-duration: 2s;
    padding: 1rem;
}

.landing-text {
    display: flex;
    flex-direction: column;
}


.landing-name {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
}

.landing-button {
    margin-top: 5rem;
    background-color: rgb(230, 69, 69);
    padding: 12px 24px;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

/* End of Landing */

/* Main */

.main {
    background-image: url('img/bg2.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.main-caption {
    font-size: 2rem;
}

.nama h1 {
    font-size: 4.5rem;
}

.dan {
    font-size: 5rem;
}


/* End of Main */



/* time */
.main-container-time {
    background-image: url('img/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;
}

.container-time {
    padding: 5rem 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.caption-time {
    font-size: 4rem;
}

.card {
    width: 18rem;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 5px 5px #bebebe5d;
    text-align: center;
    padding: 4rem 2rem;
    background-color: whitesmoke;
    border-radius: 2%;
}

.card img {
    border-radius: 50%;
    width: 55%;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 2px #bebebe5d;
}

.card-title {
    font-size: 3rem;
    margin: 2rem 1px;
}

.card-body {
    font-size: 1rem;
    font-weight: 600;
}

.card-body p {
    margin-top: 1rem;
}

/* end time */


.page-one {
    height: 25rem;
}

.hide {
    top: -100%;
    bottom: 100vh;
    opacity: 0;
}



/* Responsive Breakpoint */


/* tablet */

@media (max-width: 768px) {
    .landing-name {
        font-size: 5rem;
    }

    .landing-button {
        font-size: 2rem;
    }

    .dan {
        font-size: 8rem;
    }
}

/* Akhir tablet */


/* mobile */
@media (max-width: 576px) {
    .landing-name {
        font-size: 3rem;
    }

    .landing-button {
        font-size: 1.5rem;
    }

    /* main */

    .main {
        background-image: url('img/bg-potrait.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
    }

    .main-caption {
        margin-bottom: 1rem;
    }

    .nama h1 {
        font-size: 3rem;
    }

    .nama h4 {
        font-size: .8rem;
    }

    .dan {
        font-size: 5rem;
    }

    /* akhir main */

    /* time */

    .main-container-time {
        background-image: url('img/bg3-potrait.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 4rem;
    }

    /* akhir time */
}

/* Akhir Mobile */