body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}

/* Landing */

.landing {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(26, 26, 26, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-caption {
    text-align: center;
    font-size: 4rem;
    font-family: 'Beau Rivage', cursive;
}

.landing-name {
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

.landing-button {
    margin-top: 15rem;
    background-color: rgb(230, 69, 69);
}

/* End of Landing */